.footer {
  border: 1px solid rgba(var(--on-background), var(--a15));
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
  &__count {
    white-space: nowrap;
  }
  &__filters {
    position: relative;
    vertical-align: middle;
    display: flex;
    .filter-button {
      margin: 0 4px;
      position: relative;
      flex: 1 1 auto;
    }
    @media (max-width: 767.98px) {
      margin: 16px 0;
    }
  }
  &__delete {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: rgba(var(--danger), 1);
    background-color: rgba(var(--danger), var(--a15));
    &:hover {
      background-color: rgba(var(--danger), var(--a30));
    }
    &:active {
      background-color: rgba(var(--danger), var(--a45));
    }
  }
}

.Mui {
  &Paper-root {
    background-color: rgba(var(--on-background), 1) !important;
    border-radius: 0 !important;
  }
}

.dialog {
  &__title {
    font-family: 'Poppins', sans-serif;
    color: rgba(var(--background), 1);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.15;
    line-height: 1.2;
    padding: 16px 24px;
  }
  &__text {
    font-family: 'Poppins', sans-serif;
    color: rgba(var(--background), 1);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding: 0 24px 20px 24px;
  }
  &__actions {
    padding: 8px 16px;
    text-align: right;
  }
  &__button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: rgba(var(--background), 1);
    &:hover {
      border-color: rgba(var(--background), var(--a30));
    }
    &:active {
      background-color: rgba(var(--background), 1);
      border-color: rgba(var(--background), 1);
      color: rgba(var(--on-background), 1);
    }
    &_negative {
      color: rgba(var(--danger), 1);
      &:hover {
        border-color: rgba(var(--danger), var(--a30));
      }
      &:active {
        background-color: rgba(var(--danger), 1);
        border-color: rgba(var(--danger), 1);
        color: #fff;
      }
    }
  }
}