.toolbar {
  border: 1px solid rgba(var(--on-background), var(--a15));
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__count {
    white-space: nowrap;
  }
  &__delete {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: rgba(var(--danger), 1);
    background-color: rgba(var(--danger), var(--a15));
    &:hover {
      background-color: rgba(var(--danger), var(--a30));
    }
    &:active {
      background-color: rgba(var(--danger), var(--a45));
    }
  }
}

.Mui {
  &Dialog-container {
    .MuiPaper-root {
      background-color: rgba(var(--on-background), 1) !important;
      border-radius: 0 !important;
    }
  }
}

.dialog {
  &__title {
    font-family: 'Poppins', sans-serif;
    color: rgba(var(--background), 1);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.15;
    line-height: 1.2;
    padding: 16px 24px;
  }
  &__text {
    font-family: 'Poppins', sans-serif;
    color: rgba(var(--background), 1);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding: 0 24px 20px 24px;
  }
  &__actions {
    padding: 8px 16px;
    text-align: right;
  }
  &__button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    color: rgba(var(--background), 1);
    &:hover {
      border-color: rgba(var(--background), var(--a30));
    }
    &:active {
      background-color: rgba(var(--background), 1);
      border-color: rgba(var(--background), 1);
      color: rgba(var(--on-background), 1);
    }
    &_negative {
      color: rgba(var(--danger), 1);
      &:hover {
        border-color: rgba(var(--danger), var(--a30));
      }
      &:active {
        background-color: rgba(var(--danger), 1);
        border-color: rgba(var(--danger), 1);
        color: #fff;
      }
    }
  }
}

.verification {
  width: 100%;
  padding: 60px 0;
  &__paragraph {
    margin-bottom: 1rem;
  }
  &__button {
    line-height: 1.5;
    outline: none;
    display: inline;
    box-sizing:content-box;
    background: none;
    font-size: 1rem;
    color: rgba(var(--primary), 1);
    text-decoration: none;
    padding: 0 !important;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__microcopy {
    margin-bottom: 0;
    line-height: 1.5;
  }
  hr {
    border-color: rgba(var(--on-background), .12);
    margin: 1rem 0;
  }
}