:root {
  --primary: 121, 82, 179;
  --on-primary: 232, 234, 237;
  --background: 255, 255, 255;
  --on-background: 32, 33, 36;
  --danger: 220, 53, 69;
  --success: 25, 135, 84;

  /* Alpha values */
  --a30: 0.30;
  --a45: 0.45;
  --a60: 0.60;
}

.theme-dark {
  --primary: 121, 82, 179;
  --on-primary: 232, 234, 237;
  --background: 32, 33, 36;
  --on-background: 232, 234, 237;
}